<h1>Subject: <%= @ticket.title %></h1>
<p>Content: <%= @ticket.content %></p>
<p>Admin Response: <%= @ticket.admin_response %></p>
<p>Resolved?<input type="checkbox"input type="checkbox" name="resolved?" value="true" <%= @ticket.resolved? ? "checked" : ""%>></p>
<br>
<a href="/tickets/<%= @ticket.id %>/edit">Edit</a>
<br>
<form action="/tickets/<%= @ticket.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>
